<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".appmanager.ApplicationManager"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Splash activity -->
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- App details activity -->
        <activity
            android:name=".activities.AppDetailsActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Search activity -->
        <activity
            android:name=".activities.SearchActivity"
            android:configChanges="orientation|screenSize">
        </activity>

        <!-- Licenses activity -->
        <activity
            android:name=".activities.LicensesActivity"
            android:configChanges="orientation|screenSize">
        </activity>

    </application>

</manifest>